<h3>Please log in to continue</h3>
<form name="login" method="post" action="/login">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <input type="submit" name="submit" value="Login" />
</form>